article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #3201960c;
  color: #fff;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #121415;
}
