* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.navbar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  background-color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.search-img {
  height: 30px;
  width: 30px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 20px;
  padding: 5px;
  height: 100%;
  width: 50%;
}

.search-input {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-right: none;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  gap: 8px;
  color: #161515;
}

.content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: #333;
}

.content {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: #333;
}

.in-en {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: #333;
}

.cart {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 3px;
  color: #333;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 60px;
  z-index: 1000;
}

.content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.blue-bar {
  width: 40px;
  height: 10px;
  background-color: #007db8;
  margin-right: 6px;
  border-radius: 0;
  color: #333;
}

.hamburger {
  font-size: 30px;
  color: black;
  border: none;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 20px 14px;

}

.Business-master {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
}

.home {
  white-space: nowrap;
  display: flex;
  gap: 3px;
  color: black;
  align-items: center;
  margin: 7px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
}

.hero-left {
  background-color: #004A77;
  color: white;
  flex: 1;
  min-width: 300px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left h1 {
  font-size: 3rem;
  margin: 20px;
  font-weight: 100;
}

.hero-left p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 200;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.primary {
  border: 2px solid white;
  color: black;
  background: transparent;
  background-color: white;
}

.secondary {
  border: 2px solid white;
  color: white;
  background: transparent;
}

.primary:hover {
  background-color: #e6e6e6;
  color: #333;
}

.secondary:hover {
  background-color: #e6e6e6;
  color: #333;
}

.hero-right {
  flex: 1;
  min-width: 300px;
  overflow: hidden;
}

.hero-right img {
  width: fit-content;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.container1 {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
  display: flex;
}

.trusted-section {
  background-color: #0f1b2b;
  padding: 40px 20px;
  text-align: center;
}

.trusted-section h1 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e6e6e6;
}

.trusted-section .asterisk {
  color: #4aa1f3;
}

.trusted {
  background-color: #0f1b2b;
}

.trusted-section p {
  font-size: 1.3rem;
  margin-top: 20px;
  color: #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trusted-section strong {
  font-weight: 800;
  color: #ffffff;
}

.section {
  padding: 60px 0;
  margin: auto;
  text-align: center;
  background-color: #333;
}

.container3 {
  color: #ccc;

}

.container3 h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  color: #ccc;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 10px;
}

.shop {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
}

.card p {
  font-size: 1rem;
  color: #cfd8dc;
  line-height: 1.6;
  font-weight: 50;
  text-align: left;

}

.card p strong {
  color: #ffffff;
}

.her-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
}

.link:hover {
  color: #a0c4ff;
}

.premier-line {
  border-top: 2px solid #40586D;
}

.line {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30px;
}

.her-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
  color: #ccc;
  font-weight: 300;
}

h2 {
  display: flex;
  color: #ccc;
  font-weight: 200;
  justify-content: center;
  margin-top: 50px;
}

.video-thumbnail {
  margin-top: 20px;
  height: 60%;
  width: 60%;
  margin-bottom: 60px;
}

.text {
  display: flex;
}

.text-content{
  margin-top: 40px;
}
.text-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-right: 150px;
}

.text-content ul {
  padding-left: 100px;

}

.text-content li {
  margin-bottom: 10px;
  font-size: 0.75rem;
  line-height: 1;
  color: #ccc;
  text-align: left;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
  border: 2px solid white;
  background: transparent;
  margin-left: 60px;
}

.button:hover {
  background-color: white;
  color: #333;
}   

