@media (max-width: 784px) {
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #000;
        width: 100%;
        padding: 1rem;
    }

    .menu-toggle {
        display: contents;
    }

    .menu-section {
        flex-wrap: wrap;

    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
        align-items: left;
    }

    .our-story {
        flex-direction: column;
        text-align: center;
    }

    .left h1 {
        font-size: 40px;
    }

    .main-heading {
        font-size: 2.2rem;
    }

    .description {
        font-size: 1rem;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .pagination {
        gap: 10px;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 16px;
    }

    .tab {
        padding: 12px 20px;
        font-size: 13px;
    }

    .news-header h1 {
        font-size: 40px;
    }

    .news-header p {
        font-size: 18px;
    }

    .menu-item {
        flex: 1 1 100%;
    }

    .contact-fo{
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info .info {
    text-align: center;
  }

}