* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero {
  background-image: url('image/bg_3.jpg'); 
  background-size: cover;
  background-position: center;
  height: 120vh;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 50px;
  position: relative;
  z-index: 2;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  font-weight: 600;
}
.nav-links a:hover {
  color: #e0c48e;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 40%;
  transform: translateY(-40%);
  padding: 0 20px;
}
.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 75px;
  margin-bottom: 15px;
  margin-top: 250px;
  color: rgb(255, 255, 255);
  line-height: 1.34;
}
.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
  color:rgba(255,255, 255, 0.7);
  font-weight: 300;
  font-family:"Raleway", sans-serif;
}
.btn {
  border: 2px solid #fff;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}
.btn:hover {
  background: #fff;
  color: #000;
}